/* Header */
header {
  background: #ffffff;
  height: 116px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  height: 100%;
  margin: 0 auto;
}
.logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}
.nav-links ul {
  display: flex;
}
.nav-links a {
  font-size: 0.625rem;
  font-weight: 700;
  color: var(--gray-color);
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
}
.nav-links li:first-child a {
  color: var(--primary-color);
}
.nav-links a:hover {
  color: var(--primary-color);
}
.nav-icons ul {
  display: flex;
}
.nav-icons a {
  padding: 10px;
  margin: 10px;
}
.nav-icons li:last-child a {
  padding-right: 0;
  margin-right: 0;
}

/* Hero */
.hero-container {
  max-width: 1120px;
  margin: 0 auto;
}
.hero-image {
  width: 100%;
}
.hero-image img {
  width: 100%;
}
.position {
  position: relative;
}
.card-1 {
  position: absolute;
  top: 79px;
  right: -100px;
}
.card-2 {
  position: absolute;
  top: 475px;
  right: 0;
}
