:root {
  --primary-color: #1c2a39;
  --gray-color: #5c6a79;
  --btn-color: #4c3db2;
  --gray-background: #efeef6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */
header {
  background: #ffffff;
  height: 116px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}
.logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}
.nav-links ul {
  display: flex;
}
.nav-links a {
  font-size: 0.625rem;
  font-weight: 700;
  color: var(--gray-color);
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
}
.nav-links li:first-child a {
  color: var(--primary-color);
  font-weight: 900;
}
.nav-links a:hover {
  color: var(--primary-color);
  font-weight: 900;
}
.nav-icons ul {
  display: flex;
}
.nav-icons a {
  padding: 10px;
  margin: 10px;
}
.nav-icons li:last-child a {
  padding-right: 0;
  margin-right: 0;
}

/* Hero */
.hero-image {
  width: 100%;
}
.hero-image img {
  width: 100%;
}
.position {
  position: relative;
}
.card-1,
.card-2 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
  transition: 0.2s;
}
.card-1 {
  display: flex;
  align-items: flex-end;
  width: 149px;
  height: 204px;
  background: #9e98dc;
  position: absolute;
  top: 79px;
  right: -86px;
}
.card-1 .content {
  padding: 20px;
}
.card-2 {
  display: flex;
  align-items: flex-end;
  width: 137px;
  height: 273px;
  background: #ff8fe6;
  position: absolute;
  top: 475px;
  right: 0;
}
.card-2 .content {
  padding: 20px;
  padding-right: 48px;
}
.card-1:hover,
.card-2:hover {
  transform: translateY(-15px);
}

/* Books section */
.books {
  position: relative;
  margin-top: 180px;
  margin-bottom: 100px;
}

/* Books section - Category */
.category {
  position: absolute;
  top: -46px;
  left: 0;
  width: 416px;
  height: 710px;
  background: #efeef6;
}
.category ul {
  display: inline-block;
  margin-left: 150px;
  margin-top: 34px;
}
.category a {
  display: inline-block;
  color: var(--gray-color);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 10px;
  margin: 1.5px;
}
.category li:first-child {
  list-style: disc;
}
.category li:first-child a {
  color: var(--primary-color);
  font-size: 0.875rem;
  font-weight: 700;
}
.category a:hover {
  list-style: disc;
  color: var(--primary-color);
  font-weight: 700;
}

/* Books section - Bestsellers */
.books .container {
  display: flex;
  justify-content: flex-end;
}
.bestsellers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 76px;
  grid-row-gap: 96px;
  width: 924px;
  z-index: 10;
}
.bestsellers .book {
  display: flex;
  align-items: center;
}
.bestsellers .book-cover img {
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
}
.bestsellers .book-info {
  margin-left: 36px;
}
.bestsellers .book-info a {
  color: var(--gray-color);
}
.bestsellers .book-info a:hover {
  text-decoration: underline;
}

.bestsellers .book-info .writer {
  color: var(--gray-color);
  font-family: "Open Sans", sans-serif;
  font-size: 0.625rem;
  margin-bottom: 4px;
}
.bestsellers .book-info .title {
  font-weight: 700;
  margin-bottom: 4px;
}
.bestsellers .book-info .title a {
  color: var(--primary-color);
}

.bestsellers .book-info .rating {
  display: flex;
  align-items: center;
}
.bestsellers .book-info .review {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 0.625rem;
  padding-left: 6px;
}
.bestsellers .book-info .summary {
  font-family: "Open Sans", sans-serif;
  font-size: 0.625rem;
  margin: 16px 0;
}
.bestsellers .book-info .price {
  font-size: 13px;
  font-weight: 700;
  margin: 16px 0;
}
.bestsellers .book-info .price span {
  color: #bdbdbd;
  font-weight: 600;
  text-decoration-line: line-through;
  margin-left: 8px;
}
.bestsellers .book-info .btn {
  display: inline-block;
  color: var(--btn-color);
  font-size: 0.625rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 17px 60px;
  border: 1px solid var(--btn-color);
  transition: 0.2s;
}
.bestsellers .book-info .btn:hover {
  color: #fff;
  background: var(--btn-color);
  transition: 0.4s;
  text-decoration: none;
}

/* Footer */
footer {
  background: var(--gray-background);
  padding: 40px 0;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
  padding-right: 50px;
}
footer .info-container {
  display: flex;
  align-items: center;
}
footer .info {
  padding: 0 50px;
}
footer nav a {
  color: var(--gray-color);
  font-size: 12px;
}
footer nav li {
  margin: 10px 0;
}
footer .social ul {
  display: flex;
}
footer .social ul li {
  padding: 0 10px;
}
footer .social ul li a {
  font-size: 20px;
}

/* Navbar Toggle */
.toggleBtn {
  display: none;
}
.nav-links.show,
.nav-icons.show {
  display: flex;
}

/* Responsive */
@media (max-width: 1380px) {
  .bestsellers {
    grid-template-columns: 1fr;
    width: unset;
    grid-column: 2;
  }
  .books .container {
    display: grid;
    grid-template-columns: 448px 1fr;
  }
  .book-cover {
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 1305px) {
  .position {
    position: unset;
  }
  .card-1 {
    top: 195px;
    right: 0;
  }
  .card-1:hover,
  .card-2:hover {
    transform: translateX(10px);
  }
}
@media (max-width: 1216px) {
  .card-1 {
    top: 130px;
    z-index: 3;
    box-shadow: 0px 3px 18px rgba(53, 49, 84, 0.28);
  }
  .card-2 {
    top: 260px;
    z-index: 2;
  }
}
@media (max-width: 943px) {
  /* Books section */
  .books {
    margin-top: 140px;
  }
  .category {
    position: unset;
    max-width: 1200px;
    padding: 20px 40px;
    margin-bottom: 90px;
    width: unset;
    height: unset;
  }
  .category ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: unset;
  }
  .books .container {
    display: grid;
    grid-template-columns: unset;
    justify-content: center;
  }

  /* Footer */
  footer .container {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .container > * {
    margin: 10px 0;
  }
  footer .info {
    padding-left: 0;
    padding-right: 60px;
  }
  footer .info:last-child {
    padding: 0;
  }
  footer .social li:first-child {
    padding-left: 0;
  }
}
@media (max-width: 810px) {
  /* Header */
  .toggleBtn {
    display: block;
    position: absolute;
    top: 28px;
    right: 40px;
    font-size: 24px;
    color: var(--primary-color);
  }
  .nav-links,
  .nav-icons {
    display: none;
  }
  header {
    height: unset;
  }
  header .container {
    flex-direction: column;
  }
  header .container .logo {
    align-self: flex-start;
    height: 80px;
    display: flex;
    align-items: center;
  }
  .nav-links ul {
    flex-direction: column;
    text-align: center;
  }
  .nav-links {
    margin-bottom: 12px;
  }
  .nav-links a,
  .nav-icons a {
    display: inline-block;
    padding: 8px;
    margin: 8px;
  }
  .nav-icons li:last-child a {
    padding-right: 8px;
    margin-right: 8px;
  }

  /* Hero */
  .hero .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .card-1,
  .card-2 {
    width: unset;
    height: unset;
    position: unset;
  }
  .card-1 {
    margin-top: -4px;
  }
  .card-1:hover,
  .card-2:hover {
    transform: scale(1.03);
  }
}

@media (max-width: 415px) {
  /* Toggle button */
  .toggleBtn {
    right: 20px;
  }
  /* Bestsellers */
  .bestsellers .book {
    flex-direction: column;
  }
  .bestsellers .book .book-info {
    text-align: center;
    margin-left: 0;
  }
  .bestsellers .book .book-info .rating {
    display: inline-block;
  }
  /* Footer */
  footer .info-container {
    width: 100%;
    justify-content: space-between;
  }
  footer .info-container .info {
    padding: 0;
  }
}
